<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Recording and Gemini Response</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'audio_gemini/css/style.css' %}">
    
    </style>
</head>
<body>
    <div class="container">
        <h1>Audio Recording and Gemini Response</h1>
        <div class="controls">
          <button id="startRecording">Start Recording</button>
          <button id="stopRecording" disabled>Stop Recording</button>
        </div>
        <div id="result"></div>
        <div id="conversation">
          <div class="message user-message"></div>
          <div class="message ai-message"></div>
        </div>
      </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'audio_gemini/js/main.js' %}" defer></script>
</body>
</html>